@model EltraCloud.Pages.ObjectDictionary.ParameterEditViewModel
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

<div class="row">
    <div class="col text-left">
        @Html.TextBoxFor(model => Model.Parameter.Value)
        @Html.ValidationMessageFor(model => Model.Parameter.Value)
    </div>
    <div class="col text-left">
        @Html.DisplayFor(model =>model.Parameter.Unit)
    </div>
    <div class="col"></div>
</div>
