[Unit]
Description=Eltra photo service
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
User=dawid
Type=simple
WorkingDirectory=/home/dawid/photo
ExecStart=/home/dawid/photo/PhotoMasterConsole
ExecStop=/home/dawid/photo/PhotoMasterConsole --stop
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
